.logo-small, .logo-small-text{
    display: none;
}

body{
    background: url("../img/bg-crown.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #f8f9fa;
}



@media screen and (max-width: 576px){
    .logo-small, .logo-small-text{
        display: block;
    }
    .logo-big{
        display: none;
    }
}

@media screen and (max-width: 400px){
    .logo-small-text{
        display: none;
    }
}
