.logo-small, .logo-small-text{
    display: none;
}

body{
    background: url("../img/bg-crown.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #f8f9fa;
}

a{
    color: #000;
}
a:hover{
    color: #000;
    text-decoration: none;
    font-style: italic;
}

.assitance {
  float: right;
  margin-right: 11%;
}

.artikel-dato {
  border-bottom: solid black 1px;
  margin-right: 11%;
}

.artikel-content {
  margin-right: 15%;
}

#artikel-billede {
  max-width: 50%;
}

@media screen and (max-width: 576px){
    .logo-small, .logo-small-text{
        display: block;
    }
    .logo-big{
        display: none;
    }
}

@media screen and (max-width: 400px){
    .logo-small-text{
        display: none;
    }
}
